## <p style="text-align: right;"> &#9989; Cesarine Graham</p>

# CMSE 201: Quiz 1 (Section 006 Fall 2022)

The goal of this quiz is to give you the opportunity to test out some of the skills that you've developed thus far this semester. In particular, you'll reflect on what you know about writing code using Python and showcase some of your new programming skills.

**Important note about using online resources**: This exam is "open internet". That means that you can look up documentation, google how to accomplish certain Python tasks, etc. Being able to effectively use the internet for computational modeling and data science is a very important skill, so we want to make sure you have the opportunity to exercise that skill. **However, the use of any person-to-person communication software is absolutely not acceptable.**

**Do your own work.** This quiz is designed to give *you* the opportunity to show the instructor what you can do and you should hold yourself accountable for maintaining a high level of academic integrity. Any violation of academic integrity could result in you receiving a zero on the quiz.

---
# Academic integrity statement [10 points]

In the markdown cell below, put your personal academic integrity statement. By including this statement, you are confirming that you are submitting this as your own work and not that of someone else.

<font size=+3>&#9998;</font> I, Cesarine Graham, commit to upholding the Spartan Code of Honor Academic Pledge, as well as holding the values true to myself for the rest of my academic career. I will uphold the core value of the US Navy being 'I will bear true faith and allegiance,' as the US Navy was the reason I was able to recieve a collegiate education and any further opportunites.'I commit to submitting my work, only my work, and nothing else. All work that is not mine shall be properly clearly and visibly cited to the audience.

---

# 1. Variables (10 points)

In the first cell below, define a variable that holds a string that is your name, and define another variable that holds a number that is the number of dogs you wish you had.

In the second cell below, write a print statement (using your two variables defined in the first cell) that prints a complete sentence stating your name and how many dogs you wish you had.

Fnially, describe your thought process for how you constructed your print statement.

In [2]:
# define your variables here
my_name = 'Cesarine Graham'
dogs = 5

In [4]:
# write your print statement here
print('My name is', my_name, 'and I wish I had', dogs, 'dogs','.')

My name is Cesarine Graham and I wish I had 5 dogs .

<font size=+3>&#9998;</font> I know that any words that I want to use in the print statement I have to type out as a string, and the words that are defined in the functions I just need to call the variables. All of these are separated by commas so they dont result in an error.

---
# 2. Lists and Indexing (10 points)

In the cell below, define a list that holds the names of at least 5 varieties of fruit. Then, **using the indices**, write a print statement that prints your fruit varieties in order from your favorite to least favorite. 

Then, describe your thought process for how you solved this problem.

In [7]:
# put your code here
fruit = ['orange','mango','strawberry','apple','grape']

for i in range(len(fruit)):
    print(fruit[i])

orange
mango
strawberry
apple
grape

<font size=+3>&#9998;</font> I started this problem by initializing a list of fruit in the order that i liked from greatest to least. then i set up a for loop that will loop by index. in order to set up a loop by index, i used the range(len(function)) format, and then printed each iteration index.

---

# 3. For Loops and Debugging: Calculating Catering Food Costs (55 points)

You work for a catering company, specifically helping them figure out how much they need to spend on ordering materials. For each catering job, the system stores three lists:
- One with the name of the item 
- One with the quantity of that item that they need 
- One with the price of the item

In [9]:
materials_names = ["Eggplant", "Roast Beef", "Eggs", "Strawberries", "Pasta", "Parmesan Cheese"]
materials_quantity = [100, 50, 500, 2500, 100, 10]
materials_prices = [2.5, 25.0, 0.1, 0.20, 12, 30]

**Your company needs a piece of code that will calculate the total cost of materials for each job, so they can make up the budget.** To calculate the total cost *for one item*, the item's price must be multiplied by the quantity needed (E.g., the total cost of Eggplants is \\$2.50 per eggplant $\times$ 100 eggplants $=$ \\$250.00.) The total cost of materials is the sum of the costs of each item.

Your boss started to write this bit of code (below), but part way through they **ran into an error** they couldnâ€™t figure out.

In [10]:
all_items_total_cost = []

for i in range(materials_quantity):
    item_total_cost = materials_quantity[i]*materials_prices[i]
    all_items_total_cost.append(item_total_cost)

TypeError: 'list' object cannot be interpreted as an integer

&#9989;&nbsp; **Part 1 (20 points):** In the cell below, describe the bug in the code and how you solved it. Specifically, provide the following information: 
1. The line of code that caused the error(s)
2. (Where appropriate) The error code
3. A plain english description of the error(s) in the code
4. How you solved the error(s)

<font size=+3>&#9998;</font> The line of code that caused the error was line 3 because there was no len call. The errror type was " 'list' object cannot be interpreted as an integer." In order to loop by index in python, you must tell the code that it is running for the length of the list. Since this was forgotten, the code did not know where to stop. I fixed this by adding the len call inside of the range call.

&#9989;&nbsp; **Part 2 (20 points):** In the empty code cell below, rewrite the buggy code so that it works properly.

In [11]:
# Put your modified code here
all_items_total_cost = []

for i in range(len(materials_quantity)):
    item_total_cost = materials_quantity[i]*materials_prices[i]
    all_items_total_cost.append(item_total_cost)

&#9989;&nbsp; **Part 3 (10 points):** Is this code looping by index or looping by value? Could you solve the problem using the other kind of `for` loop?

<font size=+3>&#9998;</font> The code is looping by index. You could solve the problem using a loop by value by stating: "for value in materials_quantity:" .

# 4. While Loops (15 points)

In the cell below, there is a `for` loop and some lists that your friend wrote to keep track of the number of animals they saw at the zoo. When they gave you their code, you realized that their code might be more clear and efficient if it were written as a `while` loop instead.

In the empty cell below, rewrite the `for` loop as a `while` loop. The output should remain the same, but you can change any of the variable names.

In [12]:
animal_species = ['otter','flamingo','elephant','tiger','ibex','tortoise','elk','wolf','prarie dog','lemur']
animal_counts = [4,6,2,1,3,2,9,5,20,12]

count = 0
animal_count = 0
for i in animal_species:
    print('There are',animal_counts[count],animal_species[count],'in the zoo.')
    animal_count+=animal_counts[count]
    count = count + 1
print('There are',animal_count,'total animals in the zoo.')

There are 4 otter in the zoo.
There are 6 flamingo in the zoo.
There are 2 elephant in the zoo.
There are 1 tiger in the zoo.
There are 3 ibex in the zoo.
There are 2 tortoise in the zoo.
There are 9 elk in the zoo.
There are 5 wolf in the zoo.
There are 20 prarie dog in the zoo.
There are 12 lemur in the zoo.
There are 64 total animals in the zoo.

In [13]:
animal_species = ['otter','flamingo','elephant','tiger','ibex','tortoise','elk','wolf','prarie dog','lemur']
animal_counts = [4,6,2,1,3,2,9,5,20,12]
count = 0
animal_count = 0

while count < 10:
    print('There are',animal_counts[count],animal_species[count],'in the zoo.')
    animal_count+=animal_counts[count]
    count = count + 1
    
print('There are',animal_count,'total animals in the zoo.')

There are 4 otter in the zoo.
There are 6 flamingo in the zoo.
There are 2 elephant in the zoo.
There are 1 tiger in the zoo.
There are 3 ibex in the zoo.
There are 2 tortoise in the zoo.
There are 9 elk in the zoo.
There are 5 wolf in the zoo.
There are 20 prarie dog in the zoo.
There are 12 lemur in the zoo.
There are 64 total animals in the zoo.

---

### Congratulations, you're done!

Submit this quiz by uploading it to the course Desire2Learn web page.  Go to the "Quizzes" section, find the submission folder link for Quiz #1, and upload it there.